@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.backdrop-enter {
  opacity: 0;
}
.backdrop-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.backdrop-exit {
  opacity: 1;
  transition: opacity 700ms;
}
.backdrop-exit-active {
  opacity: 0;
  transition: opacity 700ms;
  transition-delay: 200ms;
}

.menu-button-enter {
  transform: translateX(-100px);
}

.menu-button-enter-active {
  transform: translateX(0px);
  transition: transform 500ms;
  transition-delay: 200ms;
}

.toggle-button-exit {
  transform: translateX(0px);
}

.menu-button-exit-active {
  transform: translateX(-100px);
  transition: all 1000ms;
}

/*Setting Panel*/

.panel-enter {
  opacity: 0.9;
  transform: translateX(300px);
}
.panel-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1000ms, transform 600ms;
  transition-delay: 100ms;
}
.panel-exit {
  opacity: 1;
  transform: translateX(0px);
}
.panel-exit-active {
  opacity: 0.9;
  transform: translateX(300px);
  transition: all 1000ms;
}

/* Settings panel toggle button*/
.toggle-button-enter {
  transform: translateX(100px);
}

.toggle-button-enter-active {
  transform: translateX(0px);
  transition: transform 500ms;
  transition-delay:200ms;
}

.toggle-button-exit-active {
  margin-right: -100px;
  transition: all 1000ms;
}


/* Form input error*/
.formik-error-enter {
  opacity: 0;
  transform: translateY(-5px);
}
.formik-error-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 500ms;
}
.formik-error-exit {
  opacity: .5;
}
.formik-error-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* Sidebar */
/*.rotate-in-2-bl-cw {*/
/*    -webkit-animation: rotate-in-2-bl-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;*/
/*    animation: rotate-in-2-bl-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;*/
/*    animation-delay: 400ms;*/
/*}*/

/*.rotate-out-2-tr-ccw {*/
/*    -webkit-animation: rotate-out-2-tr-ccw 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;*/
/*    animation: rotate-out-2-tr-ccw 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;*/
/*}*/

/* Modal */
/*.scale-in-ver-center {*/
/*    -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
/*    animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
/*}*/

/*.scale-out-vertical {*/
/*    -webkit-animation: scale-out-vertical 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;*/
/*    animation: scale-out-vertical 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;*/
/*}*/

/* Sidebar */
.slide-in-left {
  -webkit-animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 400ms;
}

/* Sidebar and Mobile Sidebar */
.slide-out-left {
  -webkit-animation: slide-out-left 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 0ms;
} /* Mobile Sidebar */
.mobile-slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Backdrop */
.backdrop-enter {
  opacity: 0;
}
.backdrop-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.backdrop-exit {
  opacity: 1;
  transition: opacity 700ms;
}
.backdrop-exit-active {
  opacity: 0;
  transition: opacity 700ms;
  transition-delay: 200ms;
}

/* Menu Top */
.menu-top-enter {
  margin-top: -80px;
}
.menu-top-enter-active {
  margin-top: 0;
  transition: margin 900ms;
  transition-delay: 500ms;
}

.menu-top-exit {
  margin-top: -80px;
  transition: margin 400ms;
  transition-delay: 250ms;
}

/* Toasts */
.tilt-in-fwd-tr {
  -webkit-animation: tilt-in-fwd-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-fwd-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-out-ver-left {
  -webkit-animation: flip-out-ver-left 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: flip-out-ver-left 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}



/* ----------------------------------------------
* Generated by Animista on 2021-4-18 21:38:45
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-in-2-bl-cw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-2-bl-cw {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
  }
}
@keyframes rotate-in-2-bl-cw {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation rotate-out-2-tr-ccw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-out-2-tr-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 0;
  }
}
@keyframes rotate-out-2-tr-ccw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation flip-out-ver-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
  }
}
@keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-vertical
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-vertical {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
}
@keyframes scale-out-vertical {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
