.btn {
  @apply rounded-xl hover:shadow-none text-neutral-200 flex items-center;
  &.small{
    @apply px-2 py-2 text-[1.3rem];
  }

  &.medium {
    @apply px-3 py-4;
  }
  &:disabled {
      @apply cursor-not-allowed text-neutral-400;
  }
  &.primary {
    @apply bg-primary-600;
    box-shadow: 0px 3px 1px theme('colors.primary.800'),
      0 3px 4px rgba(0, 0, 0, 0.9);

      &:disabled {
        @apply bg-primary-800;  
      }
  }

  &.secondary {
    @apply bg-secondary-600;
    box-shadow: 0px 3px 1px theme('colors.secondary.800'),
      0 3px 4px rgba(0, 0, 0, 0.9);
      &:disabled {
        @apply bg-secondary-800;  
      }
  }

  &.success {
    @apply bg-success-600;
    box-shadow: 0px 3px 1px theme('colors.success.800'),
      0 3px 4px rgba(0, 0, 0, 0.9);
      &:disabled {
        @apply bg-success-800;  
      }
  }

  &.danger {
    @apply bg-danger-600;
    box-shadow: 0px 3px 1px theme('colors.danger.800'),
      0 3px 4px rgba(0, 0, 0, 0.9);
      &:disabled {
        @apply bg-danger-800;  
      }
  }
  &.warning {
    @apply bg-warning-600 text-neutral-100;
    box-shadow: 0px 3px 1px theme('colors.warning.800'),
      0 3px 4px rgba(0, 0, 0, 0.9);
      &:disabled {
        @apply bg-warning-800;  
      }
  }
  &.info {
    @apply bg-info-500 text-neutral-100;
    box-shadow: 0px 3px 1px theme('colors.info.600'),
      0 3px 4px rgba(0, 0, 0, 0.9);
      &:disabled {
        @apply bg-info-600 text-neutral-400;  
      }
  }

  > i {
      @apply mr-2;
  }
}
