.dark {
  .switcher {
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
      inset 0 0 10px rgba(0, 0, 0, 1);
    &:checked {
      box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
        inset 0 0 10px rgba(0, 0, 0, 1);
    }
    &:before {
      background: linear-gradient(0deg, #000, #6b6b6b);
      /* background: linear-gradient(0deg, #000, #6b6b6b); */
      box-shadow: 0 0 0 1px #232323;
    }
    &:after {
      background: linear-gradient(0deg, #6b6b6b, #000);
    }
  }
}

.switcher {
  box-shadow: 0 0 0 4px #a3a3a3, 0 0 0 5px #969595,
    inset 0 0 10px rgb(51, 51, 51);
  margin: 10px;
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  /* box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,inset 0 0 10px rgba(0, 0, 0, 1); */
  &:checked {
    background-color: #df730e;
    box-shadow: 0 0 0 4px #a3a3a3, 0 0 0 5px #969595,
      inset 0 0 10px rgb(51, 51, 51);
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(0deg, #3d3d3d, #c0c0c0);
    box-shadow: 0 0 0 1px #696969;
    border-radius: 20px;

    transform: scale(0.98, 0.96);
    transition: 0.5s;
  }
  &:checked:before {
    left: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 20px;
    width: 0;
    height: 4px;

    border-radius: 50%;
  }
}

.yes-no > .switcher {
  @apply bg-red-500;
  &:checked {
    @apply bg-emerald-500;
  }
}
.dark-light > .switcher {
  @apply bg-zinc-400;
  &:checked {
    @apply bg-slate-600;
  }
}
